/* 
Pseudo class: selects elements in a specidic state
    focus, link (unvisited), hover, visited

    use :is
        :any-link
        :target -- highlights hwat is selected

Pseudo element: use two :: 
        ::afer

/*




@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /*Makes the images fit the display */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Utility Classes */

.nowrap {
    white-space: nowrap; /*dont want the long names quotes to break in half */
} 

/* basic styles */
html {
    scroll-behavior: smooth; /* makes the body scroll to the profile instead of jumping to it */
}
body { 

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;

    background-color: salmon;
    background-image: radial-gradient(white, salmon);
    display: flex;
    flex-direction: column; /* stacks the header on top of the nav and the body and the foooter*/
}



header, footer {
    position: sticky;
    background-color: lightcoral;
    color: white;
    text-align: center;
}

header {
    top: 0;
}

nav {
    background-color: rgb(248, 194, 194);
    padding: 0.5rem;
    color: black;
    border: 2px solid black;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav a:any-link {
    color: black;
}
nav :is(a:hover, a:focus) {
    color: lightslategray;
}

nav a:active {
    color: red;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

footer {
    bottom: 0;

}

/*Profile Card*/
.card {
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    background-color:rgba(247, 182, 182, 0.724);
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center; /* the quote is centered */
}

.card:target {
    border: 2px solid red; 
}
.card figure {
    display: flex;
    flex-flow: column nowrap;
}

.card img {
    border: 5px double rgba(0, 0, 0, 0.439);
    border-radius: 50%; /* turned the picture into a circle */
}

.card img:not([alt]) { /* helps find who doesnt have the alt in html*/
    border: 10px solid red;
}

.card:nth-child(2) {
    background-color: papayawhip;
}

.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center; /* centered the Name */
}
.card figcaption::first-letter { /*make the first leter larger */
    font-size: 3em ;  
}

.card figcaption::after {
    content: ' <3'; /* adds hello to the end of the fig caption  ..... Joe Joes hello*/ 
    display: block; /* created a block for the <3 to be in..... not on the same line as the first name*/
}

.card p {
    position: relative;
}
.card p::before { /*styled the left most outer double quote        removing the single quotes in html manually*/ 
    content: open-quote;
    font-size: 3em;
    position: absolute;
    top: -0.25em;
    left: -0.5em;
}
.card p::after { /*styled the right most outer double quote*/ 
    content: close-quote;
    font-size: 3em;
    position: absolute;
    top: -0.25em;
    right: -0.5em;
}

/*small */
@media screen and (min-width: 576px) {
    main { /* centerig when it will be flipped */
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
    }
    .card {
        width: min (100%, 400px);
    }
    .card:last-child {
        order: -1;
    }
}

/*medium */
@media screen and (min-width: 768px) {
    nav {
        display: none;
    }
    .card {
        width: min(100%, 325px);
    }
    .card figure {
        flex-flow: column-reverse;
    }
    
    .card p {
        margin-top: 1rem;
    }

}

/*large */
@media screen and (min-width: 922px) {
    .card {
        width: min(100%, 400px);
    }
    .card:nth-child(2) {
        order: -1;
    }
  
}

/*Xlarge */
@media screen and (min-width: 12000px) {
    .card {
        width: min(calc(33%  - 1rem), 500px);
    }

}

/*Mobile device landscape */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
   h1 {
    font-size: 1.5rem;
   }
    nav {
        display: none;
    }
    main {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .card {
        width: min(calc(33% - 0.25rem), 299px);
    }
    .card figcaption, .card p {
        font-size: 1.25rem;
    }
}










