@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



body { 

    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.columns {
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid black;
    column-gap: 3rem;
}

.columns p {
    margin-top: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: black;
    color: white;
    padding: 1rem;
    break-inside: avoid;
    break-inside: avoid;
}
.columns .quote {
    font-size: 3rem;
    text-align: center;
    color: gray;
    column-span: all;
    margin-top: 2rem;
}

.nowrap {
    white-space: nowrap;
}