/* typography is the way that the text is arranged and presented */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

main {
    opacity: .8;
}

a {
   color: hsl(248, 53%, 58%);
   text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: hsl(200, 53%, 58%);
    background: lightgreen;
}

 a:active {
    color: red;
 }