
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    margin: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav{
    border: 2px solid gray;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}
h2 {
    padding: 1rem;
    background-color: lightgreen;
    border-radius: 2rem 2rem 0 0;
}

ul{
    list-style-type: none;
}


li {
    border-top: 1px solid gray;
}

li a{
    display: block;
}

li a:visited{
    text-decoration: none;
    color: gray;
}

li a:hover,
li a:focus {
    background: lightgreen;
    color: gray;
    cursor: pointer;
}

li:last-child a {
    border-radius: 0 0 2rem 2rem;
}