@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



body { 
    margin: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.block {
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: white;
    padding: 1rem;

}
.left {
    float: left;
    margin-right: 1rem;
}
.right {
    float: right;
    margin-right: 1rem;
}
section {
    background-color: blueviolet;
    border: 2px solid black;
    padding: 1rem;
    display: flow-root;
}