@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/*Begin reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {display: block;}

/*End reset*/
/* Utility classes*/
.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

/*end unit classes*/

body { 
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: tomato ;
    /* background-image: url('../img/bubbles.png'), 
    linear-gradient(to top,black, darkblue,purple, lightcoral, lightseagreen, white);
    background-repeat: repeat-y, no-repeat;
    background-position: right center; */
    
    background: repeat-y right center url("../img/bubbles.png"), no-repeat linear-gradient(to top,black, darkblue,purple, lightcoral, lightseagreen, white);
    background-size: 20%, auto;
}   

.container {

    background-color: teal;
    background-image: url('../img/map-2176x1451.png');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;

    
}
.hero {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: rgba(237, 203, 149, 0.222);

}

.h1{
    font-size: 500%;
    color: rgb(139, 4, 4);
    text-shadow: 2px 2px 5px black;
    /* background-color: rgba(0, 0, 0, 0.221);
    padding: 0.25rem;
    border-radius: 10px; */


}

.profile-pic-figure{
    width: 35%;
}

.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

.example {
    margin: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.axample img {
    width: 25%;
    height: auto;
}


.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url("../img/scenic-2200x1331.png");
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
   
}